<h2>Clients</h2>
<table class="table table-striped">
    <tr>
        <th>FirstName</th>
        <th>MiddleName</th>
        <th>LastName</th>
        <th>Gender</th>
        <th>DateOfBirth</th>
    </tr>
    <ng-container *ngFor="let client of clients">
        <tr>
            <td>{{client.firstName}}</td>
            <td>{{client.middleName}}</td>
            <td>{{client.lastName}}</td>
            <td>{{client.gender}}</td>
            <td>{{client.dateOfBirth}}</td>
        </tr>
    </ng-container>
</table>