<h1>Create Client</h1>
<label>First Name:</label>
<input class="form-control" type="text" [(ngModel)]="firstName">
<br/>
<label>Middle Name:</label>
<input class="form-control" type="text" [(ngModel)]="middleName">
<br/>
<label>Last Name:</label>
<input class="form-control" type="text" [(ngModel)]="lastName">
<br/>

<select class="form-control" (change)="selectGender($event.target.value)">
    <option *ngFor="let gender of genders"
        [value]="gender.value">
        {{gender.name}}</option>
</select>

<br/>

<app-address 
    (addressDtoEvent)="bindAddressDtos($event)">
</app-address>

<app-contact 
    (contactDtoEvent)="bindContactDtos($event)">
</app-contact>

<br/>
<br/>
<button [ngClass]="addedClient ? 'btn btn-warning' : 'btn btn-info'" (click)="create()">{{addedClientMessage}}</button>