<!-- Residential -->
<h2>Residential Address</h2>
<label>Line 1</label>
<input type="text" [(ngModel)]="residentialLine1">
<br/>

<label>Line 2</label>
<input type="text" [(ngModel)]="residentialLine2">
<br/>

<label>Line 3</label>
<input type="text" [(ngModel)]="residentialLine3">
<br/>

<label>City</label>
<input type="text" [(ngModel)]="residentialCity">
<br/>

<label>State Province</label>
<input type="text" [(ngModel)]="residentialStateProvince">
<br/>


<label>Area Code</label>
<input type="text" [(ngModel)]="residentialAreaCode">
<br/>

<label>Country</label>
<input type="text" [(ngModel)]="residentialCountry">
<br/>

<!-- Work -->
<h2>Work Address</h2>
<label>Line 1</label>
<input type="text" [(ngModel)]="workLine1">
<br/>

<label>Line 2</label>
<input type="text" [(ngModel)]="workLine2">
<br/>

<label>Line 3</label>
<input type="text" [(ngModel)]="workLine3">
<br/>

<label>City</label>
<input type="text" [(ngModel)]="workCity">
<br/>

<label>State Province</label>
<input type="text" [(ngModel)]="workStateProvince">
<br/>


<label>Area Code</label>
<input type="text" [(ngModel)]="workAreaCode">
<br/>

<label>Country</label>
<input type="text" [(ngModel)]="workCountry">
<br/>

<!-- Home -->
<h2>Residential Address</h2>
<label>Line 1</label>
<input type="text" [(ngModel)]="postalLine1">
<br/>

<label>Line 2</label>
<input type="text" [(ngModel)]="postalLine2">
<br/>

<label>Line 3</label>
<input type="text" [(ngModel)]="postalLine3">
<br/>

<label>City</label>
<input type="text" [(ngModel)]="postalCity">
<br/>

<label>State Province</label>
<input type="text" [(ngModel)]="postalStateProvince">
<br/>


<label>Area Code</label>
<input type="text" [(ngModel)]="postalAreaCode">
<br/>

<label>Country</label>
<input type="text" [(ngModel)]="postalCountry">
<br/>